In [20]:
import pandas as pd
from pandas.testing import assert_frame_equal

In [47]:
df = pd.read_csv("./src/datalake/code/raw/Sample.csv", usecols=["state"])

    state
0      LA
1      LA
2      MI
3      NJ
4      AK
..    ...
101    CA
102    IN
103    WY
104    VA
105    LA

[106 rows x 1 columns]

In [6]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    106 non-null    object
 1   last_name     106 non-null    object
 2   company_name  106 non-null    object
 3   address       106 non-null    object
 4   city          106 non-null    object
 5   state         106 non-null    object
 6   zip           106 non-null    int64
 7   phone1        106 non-null    object
 8   phone2        106 non-null    object
 9   email         106 non-null    object
 10  department    106 non-null    object
dtypes: int64(1), object(10)
memory usage: 71.7 KB

In [17]:
df[df["state"]=="LA"]

,first_name,last_name,company_name,address,city,state,zip,phone1,phone2,email,department
0,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com,Sales
1,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com,Marketing
38,Solange,Shinko,"Mosocco, Ronald A",426 Wolf St,Metairie,LA,70002,504-979-9175,504-265-8174,solange@shinko.com,Purchasing
105,Arlene,Klusman,Beck Horizon Builders,3 Secor Rd,New Orleans,LA,70112,504-710-5840,504-946-1807,arlene_klusman@gmail.com,Marketing

In [15]:
df[["company_name"]].describe()

             company_name
count                 106
unique                100
top     Benton, John B Jr
freq                    2

In [16]:
df[["department"]].describe()

       department
count         106
unique          7
top     Marketing
freq           23

In [48]:
df_test = df["state"].apply(lambda x: True if len(x)==2 else False).to_frame()
len(df_test.index)
df_test

     state
0     True
1     True
2     True
3     True
4     True
..     ...
101   True
102   True
103   True
104   True
105   True

[106 rows x 1 columns]

In [54]:
df_expected = pd.DataFrame([True for i in range(len(df_test.index))], columns=["state"])
df_expected

     state
0     True
1     True
2     True
3     True
4     True
..     ...
101   True
102   True
103   True
104   True
105   True

[106 rows x 1 columns]

In [43]:
try:
    assert_frame_equal(df_test, df_expected)
except:
    print("Column State contains at least 1 record with value length less than or greater than 2")

AssertionError: DataFrame are different

DataFrame shape mismatch
[left]:  (106, 1)
[right]: (107, 1)

In [60]:
import unittest

class TestState(unittest.TestCase):

    def test_state_length(self):
        self.assertEqual(testing, False, "Column State contains at least 1 record with value length less than or greater than 2")

unittest.main(argv=[''], verbosity=2, exit=False)

test_state_length (__main__.TestState) ... FAIL

======================================================================
FAIL: test_state_length (__main__.TestState)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "C:\Users\ottma\AppData\Local\Temp/ipykernel_15584/32479069.py", line 6, in test_state_length
    self.assertEqual(testing, False, "Column State contains at least 1 record with value length less than or greater than 2")
AssertionError: True != False : Column State contains at least 1 record with value length less than or greater than 2

----------------------------------------------------------------------
Ran 1 test in 0.003s

FAILED (failures=1)

In [58]:
testing = df["state"].apply(lambda x: True if len(x)==2 else False).all()
testing

True

In [70]:
class TestState(unittest.TestCase):
    
    def setUp(self) -> None:
        self.df = pd.read_csv("./src/datalake/code/raw/Sample.csv", usecols=["state"])

    def test_state_length(self):
        length_test = self.df["state"].apply(lambda x: True if len(x) == 2 else False).all()
        self.assertEqual(
            length_test,
            True,
            "Column State cannot contain records with value length, less than or greater than 2",
        )

    def test_state_isalpha(self):
        isalpha_test = (
            self.df["state"].apply(lambda x: True if x.isalpha() else False).all()
        )
        self.assertEqual(
            isalpha_test,
            False,
            "Column State cannot contain records with numbers",
        )

if __name__=="__main__":
    unittest.main(argv=[""], verbosity=2, exit=False)

test_state_isalpha (__main__.TestState) ... FAIL
test_state_length (__main__.TestState) ... ok

======================================================================
FAIL: test_state_isalpha (__main__.TestState)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "C:\Users\ottma\AppData\Local\Temp/ipykernel_15584/1347688674.py", line 18, in test_state_isalpha
    self.assertEqual(
AssertionError: True != False : Column State cannot contain records with numbers

----------------------------------------------------------------------
Ran 2 tests in 0.011s

FAILED (failures=1)